<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мага</title>
</head>
<body>
     <h1>Игры</h1>

    <ul>

            <li> {{ game_1}}
                <button>Купить</button>
            </li>

            <li> {{ game_2}}
                <button>Купить</button>
            </li>
            <li> {{ game_3}}
                <button>Купить</button>
            </li>

    </ul>
    <button>
        <a href="/platform">Вернуться обратно</a>
    </button>
</body>
</html>